@import "../../styles/variables.scss";

.Nav-container{
    display: flex;
    position: relative;
    justify-content: flex-start;
    background: linear-gradient(180deg, #2B6091 0%, #1a4166 100%);
    width: 15rem;
    height: 100vh;
    flex-direction: column;

    .logo-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        .img-container{
            margin: 1.5rem 0 1.5rem 0;
        }

        .logo-text{
            font-family: $logo-font;
            font-size: $logo-fs;
            color: white;
            font-weight: lighter;
        }
        .logo-underline{
            background-color: white;
            height: 2px;
            width: 85%;
            border-radius: 100rem;
            margin: 1rem 0 1rem 0;
        }  
    }

    .nav-items-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1;
        gap: .5rem;
   
    }

    .nav-item{
        display: flex;
        font-family: $menu-item;
        font-size: $menu-item-fs;
        font-weight: lighter;
        color: $white-bg;
        padding: .2rem 1rem .2rem 1rem;
        width: 12rem;
        display: flex;
        flex-direction: column;
            &:hover{
                transition: .2s all;
                background-color: $highlight-bg;
            }

    }
    .drop{
        
        display: flex;
        flex-direction: column;
        font-family: $text-font;
        background-color: rgba(255, 255, 255, 0.062);  
        transition: 1s all;
         
    }
    

    .active{
        background-color: rgba(255, 255, 255, 0.062);  
        
            
           
    }

    
    .inactive{
            .drop{
                display: none;    
        }   
    }

    .drop-item{
        font-family: $text-font;
        padding: 1rem;
        color: white;
        &:hover{
            background-color: rgba(255, 255, 255, 0.13);
        }
    }

    .nav-account-container{
        display: flex;
        background-color: $highlight-bg;
        height: 4rem;
        margin: 1.5rem;  
        }
    }